.dev{
    width: 150px;
    height: 150px;
    background-color: red;
    animation-name: what;
    animation-duration: 4s;
}
@keyframes what{
    0%{
        width: 150px;
        height: 150px;
    }
     25%{
        width: 150px;
        height: 150px;
        margin-left: 350px;
        background-color: pink;
    }
    50%{
        width: 150px;
        height: 150px;
        margin-top: 200px;
        background-color: purple;
    }
}

